replicaCount: 1

image:
  repository: lamehost/pyrtr
  pullPolicy: IfNotPresent
  tag: "latest"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}

securityContext:
  capabilities:
    drop:
      - ALL
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 1000

service:
  rtr:
    type: LoadBalancer
    port: 8323
  http:
    type: ClusterIP
    port: 8080

ingress:
  enabled: true
  className: ""
  annotations: {}
  hosts:
    - host: pyrtr.local
      paths:
        - path: /healthz
          pathType: ImplementationSpecific
        - path: /clients
          pathType: ImplementationSpecific
        - path: /prometheus
          pathType: ImplementationSpecific
        - path: /dump
          pathType: ImplementationSpecific
  tls: []

resources: {}

livenessProbe:
  httpGet:
    path: /healthz
    port: 8080
readinessProbe:
  httpGet:
    path: /healthz
    port: 8080

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

volumes: []

volumeMounts: []

nodeSelector: {}

tolerations: []

affinity: {}

env: 
  - name: PYRTR_HOST
    value: 0.0.0.0